In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import logging
from typing import Tuple, List
import sys
from pathlib import Path
import pandas as pd
import geopandas as gpd
import numpy as np
import asyncio
from tqdm.asyncio import tqdm
from itertools import product
from shapely.geometry import box


scripts_dir = Path("..").joinpath("src")
if scripts_dir not in sys.path:
    sys.path.insert(0, scripts_dir.resolve().as_posix())

from pipelines.utils import background
from pipelines.processors import calculate_area, get_matches, repair_geometry, arrange_dimensions, clean_geometries, simplify_async

In [3]:
logging.basicConfig(level=logging.DEBUG)
logging.getLogger("requests").setLevel(logging.WARNING)
logging.getLogger("urllib3").setLevel(logging.WARNING)
logging.getLogger("fiona").setLevel(logging.WARNING)
logger = logging.getLogger("notebook")

In [34]:
def split_by_year(
    gdf: gpd.GeoDataFrame, year_col: str = "STATUS_YR", year_val: int = 2010
) -> List[gpd.GeoDataFrame]:
    """Split data by year. relevant for MPA data.(coverage indicator)"""
    prior_2010 = (
        gdf[gdf[year_col] <= year_val][["iso_3", "STATUS_YR", "geometry"]]
        .dissolve(
            by=["iso_3"],
        )
        .assign(year=2010)
        .reset_index()
    )

    after_2010 = (
        gdf[gdf["STATUS_YR"] > 2010][["iso_3", "STATUS_YR", "geometry"]]
        .rename(columns={"STATUS_YR": "year"})
    )
    return [prior_2010, after_2010]

In [5]:
def create_grid(bounds: Tuple[float, float, float, float], cell_size: int = 1) -> gpd.GeoDataFrame:
    """Create a grid of cells for a given GeoDataFrame"""
    minx, miny, maxx, maxy = bounds
    x = np.arange(minx, maxx, cell_size)
    y = np.arange(miny, maxy, cell_size)
    polygons = [
        {
            "geometry": box(i, j, i + cell_size, j + cell_size),
            "cell_id": f"{i}_{j}",
        }
        for i, j in product(x, y)
    ]
    return gpd.GeoDataFrame(polygons)


def subdivide_grid(
    grid_gdf: gpd.GeoDataFrame, gdf: gpd.GeoDataFrame, max_cellsize: float, max_complexity: int
) -> List:
    subdivided_elements = []
    for grid_element in grid_gdf.geometry:
        candidates = get_matches(grid_element, gdf)
        density = len(candidates)
        if density > max_complexity:
            
            subdivision_cellsize = max_cellsize / 2
            # Subdivide the grid element recursively
            subgrid = create_grid(grid_element.bounds, subdivision_cellsize)
            subdivided_elements.extend(
                subdivide_grid(subgrid, gdf, subdivision_cellsize, max_complexity)
            )
        elif density > 0:
            subdivided_elements.append(grid_element)

    return subdivided_elements


def create_density_based_grid(
    gdf: gpd.GeoDataFrame, max_cellsize: int = 10, max_complexity: int = 10000
) -> gpd.GeoDataFrame:
    # Get the bounds of the GeoDataFrame
    minx, miny, maxx, maxy = gdf.total_bounds

    # Create an initial grid
    grid_gdf = create_grid((minx, miny, maxx, maxy), max_cellsize)

    # Subdivide grid elements based on density and complexity
    subdivided_elements = subdivide_grid(grid_gdf, gdf, max_cellsize, max_complexity)

    return gpd.GeoDataFrame(geometry=subdivided_elements)

In [39]:
#  TODO: refactor this so old function mantains functionality for marine areas

def split_gdf_by_grid(gdf: gpd.GeoDataFrame, grid_gdf: gpd.GeoDataFrame):
    result = []
    gdf["already_processed"] = False
    for geometry in grid_gdf.geometry:
        candidates = get_matches(geometry, gdf)
        subset = gdf.loc[candidates.index][~gdf["already_processed"]]
        gdf.loc[subset.index, "already_processed"] = True
        if not subset.empty:
            result.append(subset.drop(columns=["already_processed"]).reset_index(drop=True).copy())
    return result


@background
def spatial_join_chunk(df_large_chunk, df_small, pbar):
    try:
        bbox = df_large_chunk.total_bounds

        candidates = get_matches(box(*bbox), df_small.geometry)
        if len(candidates) > 0:
            subset = df_small.loc[candidates.index].clip(box(*bbox))

            result = (
                df_large_chunk.sjoin(subset, how="inner")
                .clip(subset.geometry)
                .reset_index(drop=True)
            )
            result.geometry = result.geometry.apply(repair_geometry)
        else:
            result = gpd.GeoDataFrame(columns=df_large_chunk.columns)
        return result
    except Exception as e:
        logging.error(e)
        return gpd.GeoDataFrame()
    finally:
        pbar.update(1)


async def spatial_join(
    geodataframe_a: gpd.GeoDataFrame, geodataframe_b: gpd.GeoDataFrame
) -> gpd.GeoDataFrame:
    """Create spatial join between two GeoDataFrames."""
    # we build the spatial index for the larger GeoDataFrame
    smaller_dim, larger_dim = arrange_dimensions(geodataframe_a, geodataframe_b)

    logger.info(f"Processing {len(larger_dim)} elements")

    grid = create_density_based_grid(larger_dim, max_cellsize=10, max_complexity=5000)

    logger.info(f"grid created with {len(grid)} cells")

    list_of_chunks = split_gdf_by_grid(larger_dim, grid)

    logger.info(f"grid split into {len(list_of_chunks)} chunks")

    with tqdm(total=len(list_of_chunks)) as pbar:  # we create a progress bar
        new_df = await asyncio.gather(
            *(spatial_join_chunk(chunk, smaller_dim, pbar) for chunk in list_of_chunks)
        )

    return gpd.GeoDataFrame(pd.concat(new_df, ignore_index=True), crs=smaller_dim.crs)


@background
def spatial_dissolve_chunk(geometry, gdf, pbar):
    try:
        logger.info("Processing chunk")
        candidates = get_matches(
            geometry,
            gdf.geometry,
        )
        subset = gdf.loc[candidates.index]

        result = pd.concat(
            subset.clip(geometry).pipe(split_by_year, year_col="STATUS_YR"), ignore_index=True
        ).copy()

        data_chunk = [
            (
                result[result["year"] <= 2010]
                .reset_index()
                .pipe(calculate_area, "area", None)
                .drop(columns=["geometry"])
            )
        ]
        for year in range(2011, 2025):
            data_chunk.append(
                result[result["year"] <= year]
                .dissolve(
                    by=["iso_3"],
                )
                .assign(year=year)
                .reset_index()
                .pipe(calculate_area, "area", None)
                .drop(columns=["geometry"])
            )

        return pd.concat(data_chunk, ignore_index=True)
    except Exception as e:
        logging.error(e)
        return gpd.GeoDataFrame()
    finally:
        pbar.update(1)

async def process_grid(gdf):
    grid_gdf = create_density_based_grid(gdf, max_cellsize=10, max_complexity=5000)
    logger.info(f"grid created with {grid_gdf.shape[0]} cells")

    with tqdm(total=grid_gdf.shape[0], desc="Processing grid elements") as pbar:
        jobs = [spatial_dissolve_chunk(geometry, gdf, pbar) for geometry in grid_gdf.geometry.values]
        result = await asyncio.gather(*jobs)
    return result

In [7]:
gadm = gpd.read_file("../data/gadm/processed/preprocess/gadm_preprocess.shp").pipe(clean_geometries)
wdpa = gpd.read_file(
    "../data/mpa-terrestrial/processed/preprocess/mpa-terrestrial_preprocess.shp"
).pipe(clean_geometries)
gadm.sindex
wdpa.sindex

In [8]:
wdpa_subset = wdpa[
    ~(
        (wdpa.bounds.minx < -181)
        | (wdpa.bounds.miny < -91)
        | (wdpa.bounds.maxx > 181)
        | (wdpa.bounds.maxy > 91)
    )
].reset_index(drop=True)

gadm_sync = await simplify_async(gadm)
sjoin_gdf = await spatial_join(wdpa_subset, gadm_sync)

100%|██████████| 206/206 [02:20<00:00,  1.46it/s]
INFO:notebook:Processing 286305 elements
INFO:notebook:grid created with 433 cells
INFO:notebook:grid split into 392 chunks
100%|██████████| 392/392 [17:24<00:00,  2.66s/it]

In [30]:
sjoin_gdf.rename(columns={"GID_0": "iso_3"}, inplace=True)

In [31]:
# test that we have not produce duplicates
sjoin_gdf.loc[sjoin_gdf.duplicated(subset=["WDPA_PID", "iso_3"], keep=False)].sort_values(
    "WDPA_PID"
)

Empty GeoDataFrame
Columns: [WDPAID, WDPA_PID, PA_DEF, NAME, DESIG_ENG, IUCN_CAT, MARINE, GIS_AREA, STATUS, STATUS_YR, PARENT_ISO, geometry, index_right, COUNTRY, iso_3, area_km2, COUNTRY_ES, COUNTRY_FR]
Index: []

In [40]:
data = await process_grid(sjoin_gdf)

INFO:notebook:grid created with 425 cells
Processing grid elements: 100%|██████████| 425/425 [22:39<00:00,  3.20s/it]

In [41]:
data

[   index iso_3 STATUS_YR  year         area
 0    NaN   ATA      None  2017  1395.028044
 1    NaN   ATA      None  2018  1395.028044
 2    NaN   ATA      None  2019  1395.028044
 3    NaN   ATA      None  2020  1395.028044
 4    NaN   ATA      None  2021  1395.028044
 5    NaN   ATA      None  2022  1395.028044
 6    NaN   ATA      None  2023  1395.028044
 7    NaN   ATA      None  2024  1395.028044,
     index iso_3 STATUS_YR  year       area
 0     0.0   NZL      1977  2010  69.358222
 1     NaN   NZL      1977  2011  81.690847
 2     NaN   NZL      1977  2012  81.690847
 3     NaN   NZL      1977  2013  81.690847
 4     NaN   NZL      1977  2014  81.690847
 5     NaN   NZL      1977  2015  81.690847
 6     NaN   NZL      1977  2016  81.690847
 7     NaN   NZL      1977  2017  81.690847
 8     NaN   NZL      1977  2018  81.690847
 9     NaN   NZL      1977  2019  81.690847
 10    NaN   NZL      1977  2020  81.690847
 11    NaN   NZL      1977  2021  81.690847
 12    NaN   NZL      1977  2022  81.690847
 13    NaN   NZL      1977  2023  81.690847
 14    NaN   NZL      1977  2024  81.690847,
     index iso_3 STATUS_YR  year       area
 0     0.0   NZL      1934  2010  31.955832
 1     NaN   NZL      1934  2011  31.955832
 2     NaN   NZL      1934  2012  31.955832
 3     NaN   NZL      1934  2013  31.955832
 4     NaN   NZL      1934  2014  31.955832
 5     NaN   NZL      1934  2015  31.955832
 6     NaN   NZL      1934  2016  31.955832
 7     NaN   NZL      1934  2017  31.955832
 8     NaN   NZL      1934  2018  31.955832
 9     NaN   NZL      1934  2019  31.955832
 10    NaN   NZL      1934  2020  31.955832
 11    NaN   NZL      1934  2021  31.955832
 12    NaN   NZL      1934  2022  31.955832
 13    NaN   NZL      1934  2023  31.955832
 14    NaN   NZL      1934  2024  31.955832,
     index iso_3 STATUS_YR  year       area
 0     0.0   FJI      2007  2010  91.743770
 1     1.0   TON      1992  2010  80.706751
 2     NaN   FJI      2007  2011  91.743770
 3     NaN   TON      1992  2011  80.706751
 4     NaN   FJI      2007  2012  91.743770
 5     NaN   TON      1992  2012  80.706751
 6     NaN   FJI      2007  2013  91.743770
 7     NaN   TON      1992  2013  80.706751
 8     NaN   FJI      2007  2014  91.743770
 9     NaN   TON      1992  2014  80.706751
 10    NaN   FJI      2007  2015  91.743770
 11    NaN   TON      1992  2015  80.706751
 12    NaN   FJI      2007  2016  91.743770
 13    NaN   TON      1992  2016  80.706751
 14    NaN   FJI      2007  2017  91.743770
 15    NaN   TON      1992  2017  80.706751
 16    NaN   FJI      2007  2018  91.743770
 17    NaN   TON      1992  2018  80.706751
 18    NaN   FJI      2007  2019  91.743770
 19    NaN   TON      1992  2019  80.706751
 20    NaN   FJI      2007  2020  91.743770
 21    NaN   TON      1992  2020  80.706751
 22    NaN   FJI      2007  2021  91.743770
 23    NaN   TON      1992  2021  80.706751
 24    NaN   FJI      2007  2022  91.743770
 25    NaN   TON      1992  2022  80.706751
 26    NaN   FJI      2007  2023  91.743770
 27    NaN   TON      1992  2023  80.706751
 28    NaN   FJI      2007  2024  91.743770
 29    NaN   TON      1992  2024  80.706751,
     index iso_3 STATUS_YR  year        area
 0     0.0   USA      1994  2010   13.107477
 1     1.0   WSM      1978  2010  182.478923
 2     NaN   USA      1994  2011   13.107477
 3     NaN   WSM      1978  2011  182.478923
 4     NaN   USA      1994  2012   13.107477
 5     NaN   WSM      1978  2012  182.478923
 6     NaN   USA      1994  2013   13.107477
 7     NaN   WSM      1978  2013  182.478923
 8     NaN   USA      1994  2014   13.107477
 9     NaN   WSM      1978  2014  182.478923
 10    NaN   USA      1994  2015   13.107477
 11    NaN   WSM      1978  2015  182.691180
 12    NaN   USA      1994  2016   13.107477
 13    NaN   WSM      1978  2016  182.787717
 14    NaN   USA      1994  2017   13.107477
 15    NaN   WSM      1978  2017  182.787717
 16    NaN   USA      1994  2018   13.107477
 17    NaN   WSM      1978  2018  182.787717
 18    NaN   USA      1994  2019   13.107477
 19    NaN   WSM      1978  2019  182.787717
 20    NaN   USA      1994  2020   13.107477
 21    NaN   WSM      1978  2020  182.787717
 22    NaN   USA      1994  2021   13.107477
 23    NaN   WSM      1978  2021  182.787717
 24    NaN   USA      1994  2022   13.107477
 25    NaN   WSM      1978  2022  182.787717
 26    NaN   USA      1994  2023   13.107477
 27    NaN   WSM      1978  2023  182.787717
 28    NaN   USA      1994  2024   13.107477
 29    NaN   WSM      1978  2024  182.787717,
     index iso_3 STATUS_YR  year      area
 0     0.0   USA      1974  2010  4.540545
 1     NaN   USA      1974  2011  4.540545
 2     NaN   USA      1974  2012  4.540545
 3     NaN   USA      1974  2013  4.540545
 4     NaN   USA      1974  2014  4.540545
 5     NaN   USA      1974  2015  4.540545
 6     NaN   USA      1974  2016  4.540545
 7     NaN   USA      1974  2017  4.540545
 8     NaN   USA      1974  2018  4.540545
 9     NaN   USA      1974  2019  4.540545
 10    NaN   USA      1974  2020  4.540545
 11    NaN   USA      1974  2021  4.540545
 12    NaN   USA      1974  2022  4.540545
 13    NaN   USA      1974  2023  4.540545
 14    NaN   USA      1974  2024  4.540545,
     index iso_3 STATUS_YR  year         area
 0     0.0   USA      1980  2010  3717.390307
 1     NaN   USA      1980  2011  3717.390307
 2     NaN   USA      1980  2012  3717.390307
 3     NaN   USA      1980  2013  3717.390307
 4     NaN   USA      1980  2014  3717.390307
 5     NaN   USA      1980  2015  3717.390307
 6     NaN   USA      1980  2016  3717.390307
 7     NaN   USA      1980  2017  3717.390307
 8     NaN   USA      1980  2018  3717.390307
 9     NaN   USA      1980  2019  3717.390307
 10    NaN   USA      1980  2020  3717.390307
 11    NaN   USA      1980  2021  3717.390307
 12    NaN   USA      1980  2022  3717.390307
 13    NaN   USA      1980  2023  3717.390307
 14    NaN   USA      1980  2024  3717.390307,
     index iso_3 STATUS_YR  year        area
 0     0.0   USA         0  2010  300.808099
 1     NaN   USA         0  2011  300.808099
 2     NaN   USA         0  2012  300.808099
 3     NaN   RUS      None  2013  787.548260
 4     NaN   USA         0  2013  300.808099
 5     NaN   RUS      None  2014  787.548260
 6     NaN   USA         0  2014  300.808099
 7     NaN   RUS      None  2015  787.548260
 8     NaN   USA         0  2015  300.808099
 9     NaN   RUS      None  2016  787.548260
 10    NaN   USA         0  2016  300.808099
 11    NaN   RUS      None  2017  787.548260
 12    NaN   USA         0  2017  300.808099
 13    NaN   RUS      None  2018  787.548260
 14    NaN   USA         0  2018  300.808099
 15    NaN   RUS      None  2019  787.548260
 16    NaN   USA         0  2019  300.808099
 17    NaN   RUS      None  2020  787.548260
 18    NaN   USA         0  2020  300.808099
 19    NaN   RUS      None  2021  787.548260
 20    NaN   USA         0  2021  300.808099
 21    NaN   RUS      None  2022  787.548260
 22    NaN   USA         0  2022  300.808099
 23    NaN   RUS      None  2023  787.548260
 24    NaN   USA         0  2023  300.808099
 25    NaN   RUS      None  2024  787.548260
 26    NaN   USA         0  2024  300.808099,
     index iso_3 STATUS_YR  year          area
 0     0.0   RUS      2004  2010   5159.412345
 1     NaN   RUS      2004  2011   5159.412345
 2     NaN   RUS      2004  2012   5159.412345
 3     NaN   RUS      2004  2013  18698.599197
 4     NaN   RUS      2004  2014  18698.599197
 5     NaN   RUS      2004  2015  18698.599197
 6     NaN   RUS      2004  2016  18698.599197
 7     NaN   RUS      2004  2017  18698.599197
 8     NaN   RUS      2004  2018  18698.599197
 9     NaN   RUS      2004  2019  18698.599197
 10    NaN   RUS      2004  2020  18698.599197
 11    NaN   RUS      2004  2021  18698.599197
 12    NaN   RUS      2004  2022  18698.599197
 13    NaN   RUS      2004  2023  18698.599197
 14    NaN   RUS      2004  2024  18698.599197,
    index iso_3 STATUS_YR  year          area
 0    NaN   ATA      None  2017  10535.996579
 1    NaN   ATA      None  2018  10535.996579
 2    NaN   ATA      None  2019  10535.996579
 3    NaN   ATA      None  2020  10535.996579
 4    NaN   ATA      None  2021  10535.996579
 5    NaN   ATA      None  2022  10535.996579
 6    NaN   ATA      None  2023  10535.996579
 7    NaN   ATA      None  2024  10535.996579,
     index iso_3 STATUS_YR  year       area
 0     0.0   NZL      1998  2010  58.831702
 1     NaN   NZL      1998  2011  58.831702
 2     NaN   NZL      1998  2012  58.831702
 3     NaN   NZL      1998  2013  58.831702
 4     NaN   NZL      1998  2014  58.831702
 5     NaN   NZL      1998  2015  58.831702
 6     NaN   NZL      1998  2016  58.831702
 7     NaN   NZL      1998  2017  58.831702
 8     NaN   NZL      1998  2018  58.831702
 9     NaN   NZL      1998  2019  58.831702
 10    NaN   NZL      1998  2020  58.831702
 11    NaN   NZL      1998  2021  58.831702
 12    NaN   NZL      1998  2022  58.831702
 13    NaN   NZL      1998  2023  58.831702
 14    NaN   NZL      1998  2024  58.831702,
     index iso_3 STATUS_YR  year       area
 0     0.0   USA      1988  2010  20.878294
 1     NaN   USA      1988  2011  20.878294
 2     NaN   USA      1988  2012  20.878294
 3     NaN   USA      1988  2013  20.878294
 4     NaN   USA      1988  2014  20.878294
 5     NaN   USA      1988  2015  20.878294
 6     NaN   USA      1988  2016  20.878294
 7     NaN   USA      1988  2017  20.878294
 8     NaN   USA      1988  2018  20.878294
 9     NaN   USA      1988  2019  20.878294
 10    NaN   USA      1988  2020  20.878294
 11    NaN   USA      1988  2021  20.878294
 12    NaN   USA      1988  2022  20.878294
 13    NaN   USA      1988  2023  20.878294
 14    NaN   USA      1988  2024  20.878294,
     index iso_3 STATUS_YR  year      area
 0     0.0   USA      2001  2010  2.991209
 1     NaN   USA      2001  2011  2.991209
 2     NaN   USA      2001  2012  2.991209
 3     NaN   USA      2001  2013  2.991209
 4     NaN   USA      2001  2014  2.991209
 5     NaN   USA      2001  2015  2.991209
 6     NaN   USA      2001  2016  2.991209
 7     NaN   USA      2001  2017  2.991209
 8     NaN   USA      2001  2018  2.991209
 9     NaN   USA      2001  2019  2.991209
 10    NaN   USA      2001  2020  2.991209
 11    NaN   USA      2001  2021  2.991209
 12    NaN   USA      2001  2022  2.991209
 13    NaN   USA      2001  2023  2.991209
 14    NaN   USA      2001  2024  2.991209,
     index iso_3 STATUS_YR  year      area
 0     0.0   USA         0  2010  2.322748
 1     NaN   USA         0  2011  2.322748
 2     NaN   USA         0  2012  2.322748
 3     NaN   USA         0  2013  2.322748
 4     NaN   USA         0  2014  2.322748
 5     NaN   USA         0  2015  2.322748
 6     NaN   USA         0  2016  2.322748
 7     NaN   USA         0  2017  2.322748
 8     NaN   USA         0  2018  2.322748
 9     NaN   USA         0  2019  2.322748
 10    NaN   USA         0  2020  2.322748
 11    NaN   USA         0  2021  2.322748
 12    NaN   USA         0  2022  2.322748
 13    NaN   USA         0  2023  2.322748
 14    NaN   USA         0  2024  2.322748,
     index iso_3 STATUS_YR  year         area
 0     0.0   USA      1980  2010  3981.595787
 1     NaN   USA      1980  2011  3981.595787
 2     NaN   USA      1980  2012  3981.595787
 3     NaN   USA      1980  2013  3981.595787
 4     NaN   USA      1980  2014  3981.595787
 5     NaN   USA      1980  2015  3981.595787
 6     NaN   USA      1980  2016  3981.595787
 7     NaN   USA      1980  2017  3981.595787
 8     NaN   USA      1980  2018  3981.595787
 9     NaN   USA      1980  2019  3981.595787
 10    NaN   USA      1980  2020  3981.595787
 11    NaN   USA      1980  2021  3981.595787
 12    NaN   USA      1980  2022  3981.595787
 13    NaN   USA      1980  2023  3981.595787
 14    NaN   USA      1980  2024  3981.595787,
     index iso_3 STATUS_YR  year          area
 0     0.0   USA      1980  2010  88110.936742
 1     NaN   USA      1980  2011  88110.936742
 2     NaN   USA      1980  2012  88110.936742
 3     NaN   USA      1980  2013  88110.936742
 4     NaN   USA      1980  2014  88110.936742
 5     NaN   USA      1980  2015  88110.936742
 6     NaN   USA      1980  2016  88110.936742
 7     NaN   USA      1980  2017  88110.936742
 8     NaN   USA      1980  2018  88110.936742
 9     NaN   USA      1980  2019  88110.936742
 10    NaN   USA      1980  2020  88110.936742
 11    NaN   USA      1980  2021  88110.936742
 12    NaN   USA      1980  2022  88110.936742
 13    NaN   USA      1980  2023  88110.936742
 14    NaN   USA      1980  2024  88110.936742,
     index iso_3 STATUS_YR  year          area
 0     0.0   USA         0  2010  29137.893617
 1     NaN   USA         0  2011  29137.893617
 2     NaN   USA         0  2012  29137.893617
 3     NaN   RUS      None  2013    192.503365
 4     NaN   USA         0  2013  29137.893617
 5     NaN   RUS      None  2014    192.503365
 6     NaN   USA         0  2014  29137.893617
 7     NaN   RUS      None  2015    192.503365
 8     NaN   USA         0  2015  29137.893617
 9     NaN   RUS      None  2016    192.503365
 10    NaN   USA         0  2016  29137.893617
 11    NaN   RUS      None  2017    192.503365
 12    NaN   USA         0  2017  29137.893617
 13    NaN   RUS      None  2018    192.503365
 14    NaN   USA         0  2018  29137.893617
 15    NaN   RUS      None  2019    192.503365
 16    NaN   USA         0  2019  29137.893617
 17    NaN   RUS      None  2020    192.503365
 18    NaN   USA         0  2020  29137.893617
 19    NaN   RUS      None  2021    192.503365
 20    NaN   USA         0  2021  29137.893617
 21    NaN   RUS      None  2022    192.503365
 22    NaN   USA         0  2022  29137.893617
 23    NaN   RUS      None  2023    192.503365
 24    NaN   USA         0  2023  29137.893617
 25    NaN   RUS      None  2024    192.503365
 26    NaN   USA         0  2024  29137.893617,
    index iso_3 STATUS_YR  year         area
 0    NaN   ATA      None  2017  5107.135048
 1    NaN   ATA      None  2018  5107.135048
 2    NaN   ATA      None  2019  5107.135048
 3    NaN   ATA      None  2020  5107.135048
 4    NaN   ATA      None  2021  5107.135048
 5    NaN   ATA      None  2022  5107.135048
 6    NaN   ATA      None  2023  5107.135048
 7    NaN   ATA      None  2024  5107.135048,
     index iso_3 STATUS_YR  year      area
 0     0.0   NZL      1903  2010  1.123862
 1     NaN   NZL      1903  2011  1.123862
 2     NaN   NZL      1903  2012  1.123862
 3     NaN   NZL      1903  2013  1.123862
 4     NaN   NZL      1903  2014  1.123862
 5     NaN   NZL      1903  2015  1.123862
 6     NaN   NZL      1903  2016  1.123862
 7     NaN   NZL      1903  2017  1.123862
 8     NaN   NZL      1903  2018  1.123862
 9     NaN   NZL      1903  2019  1.123862
 10    NaN   NZL      1903  2020  1.123862
 11    NaN   NZL      1903  2021  1.123862
 12    NaN   NZL      1903  2022  1.123862
 13    NaN   NZL      1903  2023  1.123862
 14    NaN   NZL      1903  2024  1.123862,
     index iso_3 STATUS_YR  year         area
 0     0.0   USA      2002  2010  2909.660445
 1     NaN   USA      2002  2011  2937.101316
 2     NaN   USA      2002  2012  2937.101316
 3     NaN   USA      2002  2013  2937.101316
 4     NaN   USA      2002  2014  2951.510032
 5     NaN   USA      2002  2015  2951.510032
 6     NaN   USA      2002  2016  2953.577367
 7     NaN   USA      2002  2017  2953.577367
 8     NaN   USA      2002  2018  2953.577367
 9     NaN   USA      2002  2019  2953.577367
 10    NaN   USA      2002  2020  2953.577367
 11    NaN   USA      2002  2021  2953.577367
 12    NaN   USA      2002  2022  2953.577367
 13    NaN   USA      2002  2023  2953.577367
 14    NaN   USA      2002  2024  2953.577367,
     index iso_3 STATUS_YR  year           area
 0     0.0   USA      1976  2010  125874.707990
 1     NaN   USA      1976  2011  125875.242812
 2     NaN   USA      1976  2012  125875.944714
 3     NaN   USA      1976  2013  125875.944714
 4     NaN   USA      1976  2014  125875.944714
 5     NaN   USA      1976  2015  125875.944714
 6     NaN   USA      1976  2016  125875.944714
 7     NaN   USA      1976  2017  125875.944714
 8     NaN   USA      1976  2018  125875.944714
 9     NaN   USA      1976  2019  125875.944714
 10    NaN   USA      1976  2020  125875.944714
 11    NaN   USA      1976  2021  125875.944714
 12    NaN   USA      1976  2022  125875.944714
 13    NaN   USA      1976  2023  125875.944714
 14    NaN   USA      1976  2024  125875.944714,
     index iso_3 STATUS_YR  year          area
 0     0.0   USA      1980  2010  88912.166478
 1     NaN   USA      1980  2011  88912.166478
 2     NaN   USA      1980  2012  88912.166478
 3     NaN   USA      1980  2013  88912.166478
 4     NaN   USA      1980  2014  88912.166478
 5     NaN   USA      1980  2015  88912.166478
 6     NaN   USA      1980  2016  88912.166478
 7     NaN   USA      1980  2017  88912.166478
 8     NaN   USA      1980  2018  88912.166478
 9     NaN   USA      1980  2019  88912.166478
 10    NaN   USA      1980  2020  88912.166478
 11    NaN   USA      1980  2021  88912.166478
 12    NaN   USA      1980  2022  88912.166478
 13    NaN   USA      1980  2023  88912.166478
 14    NaN   USA      1980  2024  88912.166478,
    index iso_3 STATUS_YR  year        area
 0    NaN   ATA      None  2017  246.243478
 1    NaN   ATA      None  2018  246.243478
 2    NaN   ATA      None  2019  246.243478
 3    NaN   ATA      None  2020  246.243478
 4    NaN   ATA      None  2021  246.243478
 5    NaN   ATA      None  2022  246.243478
 6    NaN   ATA      None  2023  246.243478
 7    NaN   ATA      None  2024  246.243478,
     index iso_3 STATUS_YR  year          area
 0     0.0   CAN      1979  2010  63298.385102
 1     1.0   USA      1990  2010  85529.450479
 2     NaN   CAN      1979  2011  63298.385102
 3     NaN   USA      1990  2011  85529.450479
 4     NaN   CAN      1979  2012  63298.385102
 5     NaN   USA      1990  2012  85529.450479
 6     NaN   CAN      1979  2013  63298.385102
 7     NaN   USA      1990  2013  85529.450479
 8     NaN   CAN      1979  2014  63298.385102
 9     NaN   USA      1990  2014  85529.450479
 10    NaN   CAN      1979  2015  63298.385102
 11    NaN   USA      1990  2015  85529.450479
 12    NaN   CAN      1979  2016  63298.385102
 13    NaN   USA      1990  2016  85529.450479
 14    NaN   CAN      1979  2017  63298.385102
 15    NaN   USA      1990  2017  85529.450479
 16    NaN   CAN      1979  2018  63298.385102
 17    NaN   USA      1990  2018  85529.450479
 18    NaN   CAN      1979  2019  63298.385102
 19    NaN   USA      1990  2019  85529.450479
 20    NaN   CAN      1979  2020  63298.385102
 21    NaN   USA      1990  2020  85529.450479
 22    NaN   CAN      1979  2021  63298.385102
 23    NaN   USA      1990  2021  85529.450479
 24    NaN   CAN      1979  2022  63298.385102
 25    NaN   USA      1990  2022  85529.450479
 26    NaN   CAN      1979  2023  63298.385102
 27    NaN   USA      1990  2023  85529.450479
 28    NaN   CAN      1979  2024  63298.385102
 29    NaN   USA      1990  2024  85529.450479,
     index iso_3 STATUS_YR  year           area
 0     0.0   CAN      1980  2010   96820.874955
 1     1.0   USA         0  2010  135226.135957
 2     NaN   CAN      1980  2011   96820.874955
 3     NaN   USA         0  2011  135226.135957
 4     NaN   CAN      1980  2012   96820.874955
 5     NaN   USA         0  2012  135226.135957
 6     NaN   CAN      1980  2013   96820.874955
 7     NaN   USA         0  2013  135226.135957
 8     NaN   CAN      1980  2014   96820.874955
 9     NaN   USA         0  2014  135226.135957
 10    NaN   CAN      1980  2015   96820.874955
 11    NaN   USA         0  2015  135226.135957
 12    NaN   CAN      1980  2016   96820.874955
 13    NaN   USA         0  2016  135226.135957

In [107]:
result_oecms = (
    sjoin_gdf.groupby(["iso_3", "PA_DEF"])
    .agg({"PA_DEF": "count"})
    .rename(columns={"PA_DEF": "count"})
    .reset_index()
    .pivot(index="GID_0", columns="PA_DEF", values="count")
    .fillna(0)
    .reset_index()
    .rename(columns={"0": "oecm", "1": "pa"})
)
# ).reset_index().pivot(index="iso_3", columns="PA_DEF", values="count").reset_index(names=["PA_DEF"], level=0, drop=True)

In [108]:
result_oecms["oecm_perc"] = result_oecms["oecm"] / (result_oecms["oecm"] + result_oecms["pa"])

In [112]:
result_oecms.sort_values("pa", ascending=False).head(10)

PA_DEF iso_3  oecm       pa  oecm_perc
180      USA   0.0  50674.0   0.000000
161      SWE   0.0  30813.0   0.000000
44       DEU   0.0  23703.0   0.000000
55       EST   0.0  20579.0   0.000000
57       FIN   0.0  18427.0   0.000000
29       CAN   2.0  12566.0   0.000159
61       GBR   0.0  11712.0   0.000000
9        AUS   0.0  11154.0   0.000000
30       CHE   0.0  10632.0   0.000000
130      NZL   0.0  10205.0   0.000000

In [113]:
result_area = pd.concat(data)[['iso_3', 'year', 'area']].groupby(['iso_3', 'year']).sum().reset_index()

In [114]:
result = result_area.merge(result_oecms, on="iso_3")

In [21]:
# Todo: this needs to be merged with the marine data and validated with the pandera model
result

NameError: name 'result' is not defined